<hr />

<!-- FOOTER -->
<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2011–2022 Jeroen Steenbeeke <a target="_blank" href="https://twitter.com/JSteenbeeke"><i
            class="fa-brands fa-twitter"></i></a>&nbsp;<a target="_blank" href="https://instagram.com/jeroen_steenbeeke"><i
								    class="fa-brands fa-instagram"></i></a>&nbsp;<a rel="me" href="https://mas.to/@jsteenbeeke"><i class="fa-brands fa-mastodon"></i></a></p>
</footer>


<!-- JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.min.js" ></script>
