<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jeroen Steenbeeke</title>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/fontawesome.css">
  <link rel="stylesheet" href="/css/fa-regular.css">
  <link rel="stylesheet" href="/css/fa-brands.css">
  <link rel="stylesheet" href="/css/fa-solid.css">
  <!-- MailerLite Universal -->
  <script>
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
      var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
      f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
      var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
      _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1752632', 'f6j6u4u7m9', 'load');
  </script>
  <!-- End MailerLite Universal -->

  {% feed_meta %}
</head>
