<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill w-100">
  <a class="navbar-brand" href="#">Jeroen Steenbeeke</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
	      <a class="nav-link" href="/">Books</a>
      </li>
      <li class="nav-item">
	      <a class="nav-link" href="/blog/">Blog</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/about.html">About</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/review-bounty.html">Review bounty</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/contact.html">Contact</a>
      </li>
    </ul>
    <div id="mc_embed_signup">
      <form
              action="https://jeroensteenbeeke.us6.list-manage.com/subscribe/post?u=0a3aada69a2238ed941a57bcb&amp;id=6446fff173"
              method="post" id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form" class="form-inline validate" target="_blank"
              novalidate>
        <div id="mc_embed_signup_scroll">
            <input
                  type="email" value="" name="EMAIL" class="form-control"
                  id="mce-EMAIL" placeholder="enter e-mail to subscribe" required>

          <input type="submit" value="Subscribe" name="subscribe"
                 class="btn btn-primary ">

          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_0a3aada69a2238ed941a57bcb_6446fff173"
                   tabindex="-1" value="">
          </div>
        </div>
      </form>
    </div>

  </div>
</nav>
