<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill w-100">
  <a class="navbar-brand" href="#">Jeroen Steenbeeke</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
	      <a class="nav-link" href="/">Books</a>
      </li>
      <li class="nav-item">
	      <a class="nav-link" href="/blog/">Blog</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/about.html">About</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/review-bounty.html">Review bounty</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/contact.html">Contact</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-primary" onclick="ml_account('webforms', '1597894', 'd7i3o6', 'show')">Subscribe to my mailing list</button>
      </li>
    </ul>

  </div>
</nav>
