---
layout: default
title: Blog
---
<div class="container card">
{% for post in paginator.posts %}
	<div class="row">
		<div class="col-md-6">
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		</div>
		<div class="col-md-3 offset-md-3">
			<span class="date">{{ post.date }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ post.excerpt }}
			<a href="{{ post.url }}" class="readmore">&raquo; Read more</a>
		</div>
	</div>
	<br /><br />
{% endfor %}

<nav>
<ul class="pagination">
	{% if paginator.previous_page %}
	<li class="page-item">
		  <a href="{{ paginator.previous_page_path }}" class="page-link">
		      Previous
		    </a>
  {% else %}
	<li class="page-item disabled">
    <a href="#" class="page-link">Previous</a>
  {% endif %}
	</li>
	<li class="page-item disabled">
  <a href="#" class="page-link">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </a>
	</li>
  {% if paginator.next_page %}
	<li class="page-item">
	    <a href="{{ paginator.next_page_path }}" class="page-link">Next</a>
  {% else %}
	<li class="page-item disabled">
	    <a href="#" class="page-link">Next</span>
  {% endif %}
	</li>
</ul>
</nav>
</div>
