---
layout: default
---

<div class="container card">
			

	<div class="row marketing">
		<div class="col-md-12">
			<h1>Sign Up</h1>
			Using this page, you can sign up for the mailing list, enabling me to
			send you regular updates on new and upcoming releases, as well as
			discounts and contests. <br />
		</div>
	</div>

	<div class="row">
		<h2>Temporarily disabled</h2>
		Due to MailChimp going completely apeshit with their pricing scheme the mailing list signups
		are temporarily disabled.
	</div>
	
	<div class="row marketing">
		<div class="col-md-12">
			<h4>Can I still opt out after I sign up?</h4>
			Of course! You will receive an opt-out link after you confirm your
			e-mail address, as well as with every additional e-mail you receive.
			And if your e-mail address is not confirmed, you won't need to opt
			out.
			
			<h4>Will you share this information with anyone?</h4>
			My mailing list is managed by a third party, which was previously MailChimp. I am currently
			in the process of moving to a different provider. Your information will only be shared with them.

		</div>
	</div>

		</div>
		
